extends layout

block content
  h3= title
  p Welcome to #{title}
  ul
    li #{operations[0]} &mdash; to bulk add dishes
    li #{operations[0]} &mdash; to bulk add leaders
    li #{operations[0]} &mdash; to bulk add promos
